/**
 * activist-specific list item to be used alongside an Accordion.
 */
.activist-list-item {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
}

.activist-list-item__overview,
.activist-list-item__quick-contact {
  display: flex;
  flex: 1 1 100%;

  @media (--desktop) {
    flex-basis: auto;
  }
}

.activist-list-item__overview {
  align-items: center;
}

.activist-list-item__quick-contact {
  @media (--mobile) {
    display: none;

    [open] & {
      display: flex;
      justify-content: space-around;
      margin: var(--spacer) calc(var(--spacer) * -1.5) calc(var(--spacer) * -1);
      padding: calc(var(--spacer) * 0.5) 0;
      border-top: 1px solid rgba(#202637, 0.1);
    }
  }

  @media (--desktop) {
    justify-content: flex-end;
  }

  span,
  a {
    font-size: 125%;
    text-decoration: none;
    display: block;
    margin-left: calc(var(--spacer) / 2);
    padding: calc(var(--spacer) / 2);
    border: 0;
  }

  span {
    cursor: default;

    svg {
      color: rgba(#202637, 0.5);
    }
  }

  a {
    color: #005dff;
    transition: transform 0.15s ease-in-out;

    &:hover {
      transform: translate3d(0, -2px, 0);
    }
  }
}

.activist-list-item__edit,
.activist-list-item__map {
  flex: 1 1 100%;
}

.activist-list-item__edit {
  @media (--desktop) {
    flex: 1 1 59%;
  }
}

.activist-list-item__map {
  display: none;

  @media (--desktop) {
    display: block;
    flex: 0 1 38.5%;
    margin-left: var(--spacer);
  }
}
