/**
 * Action Network
 */

/* Utilities */
@import "utilities/reset.css";
@import "utilities/animation-fadeIn.css";

/* Elements */
@import "elements/body.css";
@import "elements/a.css";
@import "elements/h.css";
@import "elements/svg.css";
@import "elements/fieldset.css";
@import "elements/legend.css";

/* Components */
@import "components/container.css";
@import "components/accordion-list.css";
@import "components/accordion-list-item.css";
@import "components/page-title.css";
@import "components/fa.css";
@import "components/form-row.css";
@import "components/form-row-group.css";
@import "components/form-label.css";
@import "components/form-input.css";
@import "components/button.css";
@import "components/button-group.css";
@import "components/media.css";
@import "components/avatar.css";
@import "components/avatar-list.css";
@import "components/map.css";

/**
 * Context-specific components.
 */
@import "modules/directory.css";
@import "modules/activist-list-item.css";
@import "modules/activist-profile.css";

/**
 * Variables
 */
@custom-media --desktop (min-width: 940px);
@custom-media --mobile (max-width: 940px);

:root {
  --fontSizeBase: 1rem;
  --fontWeightBase: 400;
  --fontWeightBold: 600;
  --spacer: 1rem;
  --borderRadius: 4px;
}
