/**
 * Avatar
 *
 * Markup:
 * <div class="avatar">
 *   ...
 * </div>
 *
 * <div class="avatar">
 *   <div class="avatar__placeholder">SF</div>
 * </div>
 *
 * A series of modifiers are available to adjust the size and color.
 */
.avatar {
  position: relative;
  background: #fff;
  width: 45px;
  height: 45px;
  flex: 0 0 45px;

  &__placeholder {
    color: #202637;
    font-size: 0.935em;
    font-weight: var(--fontWeightBold);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(#202637, 0.35);
  }

  &,
  &__placeholder,
  &__image {
    border-radius: 50%;
  }

  &__placeholder {
    width: 100%;
    height: 100%;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}

/* Size variations. */
.avatar--size {
  &-small {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
  }

  &-large {
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
  }
}
